<div class="navbar-mangrove">
  <div class="container" id="nav-container">
    <div class="row" id="mobile-row">
      <div class="col-xs-6 col-sm-3">
          <div id="logo-holder">
            <% link_to "index.html" do %><%= image_tag "mangrove_logo_white.png" %><% end %>
          </div>
      </div>
      <div class="col-xs-6 col-sm-9">
        <div class="hidden-xs" id="menu-holder">
          <!-- DESKTOP MENU -->
          <ul class="list-inline" id="menu">
          <li><%= link_to "roots", "roots.html" %></li>
          <li data-toggle="tooltip" data-placement="bottom" title="coming soon" class="soon"><%= link_to "open",  "#staytuned" %></li>
          <li><% link_to "http://edu.meetmangrove.com" do %>education<i class="fa fa-external-link"></i><% end %></li>
          <li><%= link_to "team", "us.html" %></li>
          </ul>
        </div>
      <!-- END OF DESKTOP MENU -->
      <!-- MOBILE MENU -->
        <div class="dropdown">
          <div class="dropdown-toggle visible-xs" data-toggle="dropdown">more
          <span class="caret"></span></div>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><%= link_to "roots", "roots.html" %></li>
            <li><%= link_to "education", "http://edu.meetmangrove.com" %></li>
            <li><%= link_to "team", "us.html" %></li>
          </ul>
        </div>
      <!-- END OF MOBILE MENU -->
      </div>
    </div>
  </div>
</div>
